cffi

# used by dig lookup
dnspython

# AWS python boto
boto

# AWS python boto3
boto3

# Easier way to do command line argument
docopt

# Use for callback stuff
tabulate

# mandrill API
mandrill

# Ansible logging callback
elasticsearch

# required by ipaddr filter
netaddr
